#header{
	text-align: center;
}

#content{
	margin: 2%;
	border: 3px solid #FFA54F;
	min-height: 400px;
	margin-bottom: 20px;
	overflow: auto;
}

#content .title{
	padding: 5px;
	background-color: #FFDEAD;
	font-size: 20px;
	font-weight: bold;
}

#content .content .mainbody{
	width: 80%;
	position: relative;
	left: 10%;
}

#footer{
	text-align: center;
	font-size: 16px;
	height: 30px;
}

#content ul{
    float: left;
    margin: 0 0 0 3%;
    clear: both;
    width: 96%;
    display: block;
    -webkit-padding-start:0px;
}

#content ul li{
	margin: 10px 1px;
	padding: 10px 0;
	width: 30%;
	display: inline-table;
	overflow: visible;
	vertical-align: middle;
	text-align: center;
	border: 2px solid #FFA54F;
}

#content ul li a{
	color: black;
	text-decoration: none;
	display: table-cell;
	height: 60px;
	text-align: center;
	vertical-align: middle;
}

h1 span{
	font-size:30px;
}

#header .ui-title{
	overflow: visible;
	margin: 0;
	width: 100%
}

table{
	margin: 1% 1%;
	width: 98%;
    border-collapse: collapse;
}

th{ 
	text-align: center; 
	font: bold 16px "΢���ź�"; 
	width: 37.2%;
} 

td{ 
	font: normal 14px "����"; 
}

h2{
	text-align: center;
}

p.subtitle{
	text-align: center;
}

p.mainbody{
	
}

a.pageTurn.ui-link{
	color: black;
	text-decoration: none;
}

a.pageTurn.ui-link:visited{
	color: black;
	text-decoration: none;
}

a.pageTurn.ui-link:hover{
	color: blue;
	text-decoration: none;
}